.inputCollor {
    background-color: #DBD6D6;
}
.btn-size {
    width: 100%;
}
.btn-color {
    background-color: #ECECEC;
}
.btn-edit-delete {
    width: 50%;
    position: relative;
    margin-top: 2px;
}
.centerBtn {
    padding-top: 3px;
    margin-left: 20px;
}
.btn-edit {
    width: 60px;
}
.btn-editQuestionarie {
    visibility: hidden;
}

/*Nested List*/

.just-padding {
    padding: 15px;
}
.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}
.list-group.list-group-root .list-group {
    margin-bottom: 0;
}
.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}
.list-group.list-group-root> .list-group-item:first-child {
    border-top-width: 0;
}
.list-group.list-group-root> .list-group> .list-group-item {
    padding-left: 30px;
}
.list-group.list-group-root> .list-group> .list-group> .list-group-item {
    padding-left: 45px;
}

/*submit inputs controll*/

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89
}
