<form class=" btn-create" name="updateForm" novalidate ng-submit="updateForm.$valid && update()">
    <div class="row">
        <div class="col-lg-4">
            <button type="button" ng-click="get()" class="btn-size btn-lg btn-primary">Refresh</button>
        </div>
        <div class="col-lg-4">
            <button ng-click="showDetails = ! showDetails" type="button" class="btn-size btn-lg btn-primary">Toggle inputs</button>
        </div>
        <div class="col-lg-4">
            <button type="submit" class="btn-size btn-lg btn-primary" id="btnCreate">Create</button>
        </div>
    </div>

    <div class="procedure-details" ng-show="showDetails">
        <div class="row">
            <div class="col-lg-12">
                <input ng-model="user.name" type="text" class="form-control ng-dirty ng-valid" placeholder="Questionnaire Name" required></input>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <input ng-model="question.name" type="text" data-toggle="collapse" data-target="#answer1" class="form-control inputCollor ng-dirty ng-valid" placeholder="Questions" required></input>
            </div>
        </div>
        <div class="collapse" id="answer1">
            <div class="row">
                <div class="col-lg-12">
                    <input ng-model="answer.name0" type="text" class="ng-dirty ng-valid form-control" placeholder="Answer" required></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <input ng-model="answer.name1" t type="text" class="ng-dirty ng-valid form-control" placeholder="Answer" required></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <input ng-model="question.name1" type="text" data-toggle="collapse" data-target="#answer2" class="form-control inputCollor ng-dirty ng-valid" placeholder="Questions" required></input>
                </div>
            </div>
            <div class="collapse" id="answer2">
                <div class="row">
                    <div class="col-lg-12">
                        <input ng-model="answer.name2" type="text" class="ng-dirty ng-valid form-control" placeholder="Answer" required></input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input ng-model="answer.name3" type="text" class="ng-dirty ng-valid form-control" placeholder="Answer" required></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
