<div class="inputsPossition">
    <form name="updateForm" novalidate ng-submit="updateForm.$valid && update(user)" class="form-style-4 css-form">
        <label for="field1">
            <span>Enter questionary name</span>
            <input class="questionnaireName" type="text" name="field1" ng-model="user.name" required />
        </label>
        <label for="field1">
            <span>Duration time</span>
            <input class="questionnaireTime" type="text" name="field1" ng-model="user.time" />
        </label>
        <label for="field2">
            <span>Your question</span>
            <input class="questionnaireQuestion" type="text" name="field2" ng-model="user.question" />
        </label>
        <label for="field3">
            <span>Answer</span>
            <input class="questionnaireAnswer0" type="text" name="field3" ng-model="user.answer" />
        </label>
        <div class="answerContent">
            <span class="newAnswer"></span></div>
        <label class="addAnserButton">
            <span>&nbsp;</span>
            <input type="button" value="Add Answer" ng-click="x()" />
        </label>
        <label class="createQuestion">
            <span>&nbsp;</span>
            <input type="button" value="Create question" ng-click="get()" />
        </label>
        <label class="createQuestionnaire">
            <span>&nbsp;</span>
            <input type="submit" value="Create questionnaire" />
        </label>
    </form>
</div>

<div class="history">
    <div class="box">
        <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="Type number of questionnaire..." />
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Date&Duration</th>
                <th>Question</th>
            </tr>
        </thead>
        <tbody class="theadClass">
        </tbody>
    </table>
