<div class="just-padding">
    <div ng-repeat="mainObject in ngModelData" class="list-group list-group-root well">
        <div class="row">
            <div class="col-lg-10">
                <a href="#" class="list-group-item">{{mainObject.name}}</a>
            </div>
            <div class="col-lg-2">
                <div class="centerBtn">
                    <button ng-click="callEdit(mainObject.id)" class="btn-edit btn btn-primary">edit</button>
                    <button ng-click="delete(mainObject.id)" class="btn-edit btn btn-primary">delete</button>
                </div>
            </div>
        </div>
        <div ng-repeat="questionsObject in mainObject.questions" class="list-group">
            <a href="#" class="btn-color list-group-item">{{questionsObject.text}}</a>
            <div class="list-group">
                <a ng-repeat="answerObject in questionsObject.answers" href="#" class="list-group-item">{{answerObject.text}}</a>
            </div>
        </div>
    </div>
</div>
